/* import fonts */

@import url("../styles/fonts.css");
@import url("../styles/colors.css");


@tailwind base;
@tailwind components;
@tailwind utilities;


html::-webkit-scrollbar{
  width: 2px;
}


::selection{
  color: white;
  background-color: var(--selection-color);
}
*{
  font-family: JostRegular ;
  /* background: var(--main-color) ; */

}

#video-list::-webkit-scrollbar{
  display: none;
}
#chat-list{
  scroll-behavior: smooth;
}
#chat-list::-webkit-scrollbar{
  display: none;
}

#content::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

#content::-webkit-scrollbar-thumb{
  background-color: var(--selection-color);
}